$color-scheme: (
    primary: (
        100: hsl(241, 61%, 57%),
        200: hsl(233, 35%, 15%),
        300: hsl(240, 11%, 45%),
        400: hsl(240, 10%, 72%),
    ),
    secondary: (
        100: hsl(16, 100%, 97%),
        200: hsl(0, 0%, 100%),
    ),
    success: (
        100: hsl(162, 62%, 53%),
    ),
);
