/* roboto-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/roboto-v30-cyrillic_latin-regular.eot"); /* IE9 Compat Modes */
    src: url("/fonts/roboto-v30-cyrillic_latin-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/roboto-v30-cyrillic_latin-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("/fonts/roboto-v30-cyrillic_latin-regular.woff") format("woff"),
        /* Modern Browsers */
            url("/fonts/roboto-v30-cyrillic_latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("/fonts/roboto-v30-cyrillic_latin-regular.svg#Roboto")
            format("svg"); /* Legacy iOS */
}
/* roboto-500 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/roboto-v30-cyrillic_latin-500.eot"); /* IE9 Compat Modes */
    src: url("/fonts/roboto-v30-cyrillic_latin-500.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/roboto-v30-cyrillic_latin-500.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("/fonts/roboto-v30-cyrillic_latin-500.woff") format("woff"),
        /* Modern Browsers */ url("/fonts/roboto-v30-cyrillic_latin-500.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("/fonts/roboto-v30-cyrillic_latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/roboto-v30-cyrillic_latin-700.eot"); /* IE9 Compat Modes */
    src: url("/fonts/roboto-v30-cyrillic_latin-700.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/roboto-v30-cyrillic_latin-700.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("/fonts/roboto-v30-cyrillic_latin-700.woff") format("woff"),
        /* Modern Browsers */ url("/fonts/roboto-v30-cyrillic_latin-700.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("/fonts/roboto-v30-cyrillic_latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* bungee-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Bungee";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/bungee-v11-latin-regular.eot"); /* IE9 Compat Modes */
    src: url("/fonts/bungee-v11-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/bungee-v11-latin-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */ url("/fonts/bungee-v11-latin-regular.woff")
            format("woff"),
        /* Modern Browsers */ url("/fonts/bungee-v11-latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("/fonts/bungee-v11-latin-regular.svg#Bungee") format("svg"); /* Legacy iOS */
}
/* bungee-shade-regular - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Bungee Shade";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/bungee-shade-v11-latin_latin-ext-regular.eot"); /* IE9 Compat Modes */
    src: url("/fonts/bungee-shade-v11-latin_latin-ext-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */
            url("/fonts/bungee-shade-v11-latin_latin-ext-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("/fonts/bungee-shade-v11-latin_latin-ext-regular.woff")
            format("woff"),
        /* Modern Browsers */
            url("/fonts/bungee-shade-v11-latin_latin-ext-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("/fonts/bungee-shade-v11-latin_latin-ext-regular.svg#BungeeShade")
            format("svg"); /* Legacy iOS */
}
/* lobster-two-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Lobster Two";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/lobster-two-v18-latin-regular.eot"); /* IE9 Compat Modes */
    src: url("/fonts/lobster-two-v18-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/lobster-two-v18-latin-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("/fonts/lobster-two-v18-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("/fonts/lobster-two-v18-latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("/fonts/lobster-two-v18-latin-regular.svg#LobsterTwo")
            format("svg"); /* Legacy iOS */
}
/* lobster-two-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Lobster Two";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/lobster-two-v18-latin-700.eot"); /* IE9 Compat Modes */
    src: url("/fonts/lobster-two-v18-latin-700.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/lobster-two-v18-latin-700.woff2")
            format("woff2"),
        /* Super Modern Browsers */ url("/fonts/lobster-two-v18-latin-700.woff")
            format("woff"),
        /* Modern Browsers */ url("/fonts/lobster-two-v18-latin-700.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("/fonts/lobster-two-v18-latin-700.svg#LobsterTwo") format("svg"); /* Legacy iOS */
}
/* lobster-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Lobster";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/lobster-v28-cyrillic_latin-regular.eot"); /* IE9 Compat Modes */
    src: url("/fonts/lobster-v28-cyrillic_latin-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/lobster-v28-cyrillic_latin-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("/fonts/lobster-v28-cyrillic_latin-regular.woff") format("woff"),
        /* Modern Browsers */
            url("/fonts/lobster-v28-cyrillic_latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("/fonts/lobster-v28-cyrillic_latin-regular.svg#Lobster")
            format("svg"); /* Legacy iOS */
}
